@import "tailwindcss";

.blink-text {
  animation: text 1s step-start infinite;
}

@keyframes text {
  50% {
    opacity: 0;
  }
}

 .cursor-blink {
  display: inline-block;
  width: 8px;
  height: 1.2em;
  margin-left: 2px;
  background-color: currentColor;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}